.Header {
   background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

  }


 
.logo{
    font-size: 32px;
    font-weight:bold;
    margin-left:200px;
    flex-grow: 1;
}


ul{
    display: flex;
    list-style-type: none;
    margin-right:150px;
    gap:30px;
 
}

.short-main{
    font-size:18px; 
    width:500px;
    text-align: center;
}
body{
    margin:0;
    padding:0;
    
   

  }

ul li a{
    color:white;
    text-decoration: none;
    font-size:18px;
}


.Hero{
    font-weight: bold;
    background-image: url('img/banner-shelby.jpg');
    background-position:bottom;
    background-position-y:410px;
    color:white;
    display: flex;
    justify-content: center;
    
}


.Main{
    padding:10px;
    font-size:42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    padding-top: 100px;
    padding-bottom:80px;
}

.btn {
    font-size: 32px;
    text-decoration: none;
    color: white;
    border: 5px solid transparent;
    background-color: red;
    padding: 10px 25px;
    border-radius: 25px;
    width: 150px; /* Change the width to fit your desired size */
    display: flex; /* This will make the button a block element */
    justify-content: center; /* Center the text within the button */
    transition: all 0.3s ease; /* Add a smooth transition effect */
  }
  
  .btn:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
  }


.info{
    display: flex;
    background-color: lightgray;
    margin:0;
    padding:16px;
    justify-content: space-between;

}

.mid-pic{
    width: 400px;
    height:253px;
    border:5px solid black;
    border-radius: 15px;

    
}

.image-header{
    padding-top:10px;
    margin-top:1px;
    font-weight: 700;
    font-size: 23px;
}

.card{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-caption{
    width:250px;
    text-align: center;
    margin-top:1px;
    padding-top:5px;
    font-weight: 700;
    font-size: 18px;
}

.soon {
    padding:10px;
    font-size: 24px;
    font-style: oblique;
    background-color: black;
    color: white;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
  }


  .form-container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    
  }
  
  /* Styling for form input fields */
  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
  }
  
  /* Styling for form button */
  .form-container button {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Styling for form button hover */
  .form-container button:hover {
    background-color: red;
  }


